@import "./../../../../styles.scss" ;
$active-link-hover:       #247cff;


.app-container {
  display: flex;
  height: 100%;
  justify-content: flex-start;
}
.sidenav-container {
  height: 100%;
  display: flex;
}
mat-sidenav {
  width: 280px;
  background-color: white;
  box-shadow: 10px 10px 10px #eee;
}
.content {
  padding: 20px;
}
// liiiiiiiiiiiiiiiiiiiiiiiiiiinks
mat-nav-list a {
  text-decoration: none;
  background: linear-gradient(to right, transparent 50%, $active-link-hover 100%);
  background-size: 200% 100%; /* Make the gradient twice as wide */
  transition: background-position 0.5s ease; /* Transition the background position */
}
mat-nav-list a:hover {
  background-position: -100% 0%; /* Move the gradient to the right on hover */
}
.active-link{
  background: linear-gradient(to right,transparent 0%, $active-link-hover 90%) !important;
}
// end linkssssssssss
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  h2{
    padding-top: 10px;
     font-weight: bold;

  }
  border-bottom: 2px solid $border-color;
}




button {
  margin: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

