<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="mt-5" >
  <!-- Footer -->
  <footer class="text-center text-white mt-4" style="background-color: #3f51b5">
    <!-- Grid container -->
    <div>
      <!-- Section: Links -->
      <section >
      <h1 class="pt-5 text-white">
       DR.{{doctorName}}
      </h1>

        <!-- <div class="row text-uppercase text-center d-flex justify-content-center pt-4">
          <div class="col-md-2 col-sm-3">
            <h6 class=" font-weight-bold">
              <a href="#!" class="text-white nav-link">About us</a>
            </h6>
          </div>
          <div class="col-md-2 col-sm-3">
            <h6 class="font-weight-bold">
              <a href="#!" class="text-white nav-link">Products</a>
            </h6>
          </div>
          <div class="col-md-2 col-sm-3">
            <h6 class="font-weight-bold">
              <a href="#!" class="text-white nav-link">Awards</a>
            </h6>
          </div>
          <div class="col-md-2 col-sm-3">
            <h6 class=" font-weight-bold">
              <a href="#!" class="text-white nav-link">Help</a>
            </h6>
          </div>
          <div class="col-md-2 col-sm-3">
            <h6 class="font-weight-bold">
              <a href="#!" class="text-white nav-link">Contact</a>
            </h6>
          </div>
        </div> -->
      </section>

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-4">
        <div class=" doctor-info">
              <div class="info d-flex justify-content-center align-content-center" >
                <h6 style="width: 160px;">Address :</h6>
                <p>Doctor of Dental Surgery (DDS)</p>
              </div>
              <div class="info d-flex justify-content-center align-content-center" >
                <h6 style="width: 160px;">Phone Number :</h6>
                <p >010-262-454-30</p>
          </div>
          </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <h6 class="fw-bold">Follow in Socail Media</h6>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2025 CodeCrafters, all right reserved
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->


