/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$white-color:                  #FFFFFF;
$primary-color:                #247cff;
$section-bg-color:             #F9F9F9;
$dark-color:                   #000000;
$p-color:                      #717275;
$border-color:                 #eaeaea;
$body-font-family:             'Open Sans', sans-serif;


body {
  background:$white-color  !important;
  font-family: $body-font-family !important;
  position: relative;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
